HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### 민감한 정보 파일 ###
src/main/resources/application-oauth.properties
src/main/resources/application-mail.properties
# 환경 변수 파일
application.properties
application.yml
application-iamport.properties


target/
src/main/resources/application.yml
src/main/resources/firebase-admin-sdk.json
target/generated-sources/*

